@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.menu-bar-wrap {
  width: 100%;
}

.menu-bar {
  font-family: 'Nanum Barun Gothic', sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(21, 39, 56);
}

.logo {
  float: left;
  height: 100%;
  width: 77%;
  margin-right:1%;
}

.logoImage {
  margin-left:1%;
  padding:.5% .5%;
  width:3em;
  height: 99%;
}

.menuGroup {
  padding-left:1%;
  width: 22%;
  height: 100%;
  display: flex;
}

.reviewButton {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  font-size: 1em;
  font-weight:500;
  width:20%;
  margin-right:2%;
 }

.communityButton {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  font-size: 1em;
  font-weight:500;
  width:33%;
  margin-right:2%;
 }

 .loginButton{
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  font-size: 1em;
  font-weight:550;
  width: 42%;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  font-size: 150%;
}

.a {
  margin: 0%;
  padding: 0%;
}

.user-container {
  display: flex;
  font-size: 90%;
}

.logoutImage {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}


#check{
  top:75%;
  left:80%;
  width:220px;
  height:180px;
  background-color:rgb(255, 255, 255);  
  border:solid .5px rgb(100, 100, 100);
  position:absolute;
  z-index: 2;

  display:none;
  border-radius: 10px;
}

#like-wrap{
  width:100%;
  height:15%;
  background-color: rgba(75, 144, 207, 0.404);
  
  border-radius: 10px 10px 0px 0px;
  border-bottom:solid .5px rgba(124, 124, 124, 0.322);
  font-family: "Do Hyeon", sans-serif;
  padding-left:10px;
  padding-top:1px;
  font-size:18px;
}

#likeImage{
  width:17px;
  height:18px;
  margin-bottom:3.5px;
  margin-right:10px;
}

#cancelImage{
  width:10.5px;
  height:10.5px;
  margin-left:140px;
}

.likeList{
  width:100%;
  height:85%;
  overflow: auto;
}

.likeList ul{
  width:100%;
  float:left;
  list-style: none;
}

.likeList ul li{
  height:25px;
  width:100%;
  margin-left:-35px;
  padding:6px 0px;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size:9.5px;
}

#listImage{
  width:14px;
  height:14px;
  margin-right:10px;
  margin-bottom:3px;
}

.google-login button{
  width: 100%;
  text-align: center;
}