.search-bar {
  position: absolute;
  width: 17%;
  left: 2%;
  top: 15%;
  background-color: white;
  font-family: 'Do Hyeon';
  border-radius: 5px;
}
.select-placeholder-text {
  font-family: 'Do Hyeon';
  color: rgb(51, 51, 51);
}