.side-bar-wrap{
    top:10%;
    float:right;
}

.side-bar {
    top:10%;
    left:80%;
    position: absolute;
    width: 20%;
    height: 90%;
    flex-direction: column;
    border-radius: 0;
    border-color: rgba(199, 199, 199, 0.693);
    background-color: rgb(255, 255, 255);
    display:none;
}

.toggle-menu {
    height: 15px;
    width: 15px;
    margin-top:10px;
    margin-left:92%;
    
    display: inline-block;
}


.content {
    display: inline-block;
}