.side-bar {
    /*menubar_height만큼 side-bar top위치 조정*/
    top:10.5%;
    position: absolute;
    width: 400px;
    height: 89.5%;
    flex-direction: column;
    border-right: 1px solid;
    border-radius: 0;
    border-color: rgba(199, 199, 199, 0.693);
    background-color: rgb(255, 255, 255);
    display: none;
}
.toggle-menu {
    margin-top: 10px;
    height: 20x;
    width: 20px;
    left: 370px;
    display: inline-block;
    position:fixed;
}
.content {
    margin-top: 10px;
}