@media (min-width: 601px) {
  .search-bar {
    position: absolute;
    width: 21.5%;
    padding: 7px 7px 7px 7px;
    left: 1.2%;
    top: 7.5%;
    background-color: rgb(255, 255, 255);
    font-family: "Nanum Barun Gothic";
    border: solid 0.3px rgba(179, 179, 179, 0.774);
  }
}

@media (max-width: 600px) {
  .search-bar {
    position: absolute;
    width: 100%;
    padding: 7px 7px 7px 7px;
    top: 7.5%;
    margin-right: 3%;
    background-color: rgb(255, 255, 255);
    font-family: "Nanum Barun Gothic";
    border: solid 0.3px rgba(179, 179, 179, 0.774);
  }
}

.search-danji-bar {
  position: absolute;
  width: 21.5%;
  padding: 7px 7px 7px 7px;
  left: 1.2%;
  top: 15%;
  background-color: rgb(255, 255, 255);
  font-family: "Nanum Barun Gothic";
  border: solid 0.3px rgba(179, 179, 179, 0.774);
}

.search-danji-alert-bar {
  position: absolute;
  width: 21.5%;
  padding: 7px 7px 7px 7px;
  left: 1.2%;
  top: 22.5%;
  background-color: rgb(255, 255, 255);
  font-family: "Nanum Barun Gothic";
  border: solid 0.3px rgba(179, 179, 179, 0.774);
}

.select-placeholder-text {
  font-size: 11px;
  font-family: "Nanum Barun Gothic";
  color: rgba(121, 121, 121, 0.5);
  font-weight: 500;
}

/* .search-bar select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.search-bar:after {
content: '';
position: absolute;
top: 10.5px;
right: 10px;
width: 40px;
height: 37px;
border:Solid .3px rgba(173, 173, 173, 0.829);
background-color: #76a1e0f6;
background-image: url(https://raw.githubusercontent.com/solodev/styling-select-boxes/master/select1.png);
background-position: center;
background-repeat: no-repeat;
z-index: 0;
} */
